<!---->
<div class="footer">
	 <div class="container">
		 <div class="social">							
				<a href="#"><i class="facebook">facebook</i></a>
				<a href="#"><i class="twitter">twitter</i></a>
				<a href="#"><i class="dribble">dribble</i></a>	
				<a href="#"><i class="google">google</i></a>	
				<a href="#"><i class="youtube">youtube</i></a>	
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>

<!----> 
<!--<script src="http://www.geedoo.info/javascripts/jquery-1.9.1.min.js"></script>
<script src="http://www.geedoo.info/javascripts/bootstrap.min.js"></script>-->
</body>
</html>