<% include ./layout/header.html %>
	<script src="/scripts/employeeController.js"></script>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper col-xs-10 .col-sm-4 .col-lg-6" ng-controller="EmployeeContorller">
{{dataSource}}
        <fusioncharts 
        width= "100%"
        height= "400"
        type= "column2d"
        dataFormat= "json"
        dataSource= "{{dataSource}}">
    </fusioncharts>

		<div class="form-group .col-xs-3 .col-sm-2">
			<button type="button" class="btn btn-default">Create Vendor</button>
		</div>
		<div class="form-group">
			<input ng-model="searchText" st-search="" class="form-control" placeholder="global search ..." type="text" />
		</div>

		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
				<tr>
					<th st-sort="Name">Name</th>
					<th st-sort="Token">Token</th>
					<th st-sort="Address">Address</th>
					<th st-sort="Discount">Discount</th>
					<th st-sort="Phone">Phone</th>
					<th st-sort="Email">Email</th>
					<th st-sort="Encrypted Token">Encrypted Token</th>
					<th st-sort="Enable">Enable</th>
				</tr>
				<tbody>
					<tr ng-repeat="vendor in vendors | filter:searchText | orderBy:'vendor_name'" ng-include="getTemplate(vendor)">
					</tr>
				</tbody>
		</table>
		<script type="text/ng-template" id="display">
            <td>{{vendor.vendor_name}}</td>
            <td>{{vendor.vendor_token}}</td>
            <td>{{vendor.vendor_address}}</td>
            <td>{{vendor.discount*100 + " %"}}</td>
            <td>{{vendor.phone}}</td>
            <td>{{vendor.email_address}}</td>
            <td>{{vendor.encrypted_security_token}}</td>
            <td>
                <input type="checkbox" ng-checked="vendor.is_enabled==1" />
            </td>
            <td>
                <!--<button ng-click="editVendor(vendor)">Edit</button>-->
                <a class=".btn .btn-app" ng-click="editVendor(vendor)"><i class="fa fa-edit"></i>Edit</a>
            </td>
        </script>

	</div>
	<!-- /.content -->

	<% include ./layout/footer.html %>