<% include ./layout/header.html %>
	<script src="/scripts/employeeController.js"></script>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper col-xs-10 .col-sm-4 .col-lg-6" 
    ng-controller="EmployeeContorller" ng-init="load();">

		<div class="form-group .col-xs-3 .col-sm-2">
			<!--<a class=".btn .btn-app" ng-click=""><i class="fa fa-check"></i> Approve</a>-->
		</div>
		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
				<tr>
					<!--<th st-sort=""><input type="checkbox" ng-model="ck" /></th>-->
					<th st-sort="Name">First name</th>
					<th st-sort="Token">Last name</th>
					<th st-sort="Phone">Phone</th>
					<th st-sort="Email">Email</th>
					<th st-sort=""></th>
				</tr>
				<tbody>
					<tr ng-repeat="e in employees | orderBy:'create_date'| filter: { is_approved: 0 }">
						<!--<td><input type="checkbox" ng-model="ck"/></td>-->
						<td>{{e.first_name}}</td>
						<td>{{e.last_name}}</td>
						<td>{{e.phone}}</td>
						<td>{{e.email_address}}</td>
						<td>
							<a class=".btn .btn-app" ng-click="approve(e)">
								<i class="fa fa-check"></i>Approve</a>
						</td>
					</tr>
				</tbody>
		</table>

	</div>
	<!-- /.content -->

	<% include ./layout/footer.html %>